body{color:white;
    margin:0px;
    padding:0px;
    background:url('img.jpg');
}
.left{display:inline-block;

position:absolute;
left:34px;
top:20px;

}
.mid{display:block;
    width:33%;
    margin:20px auto;

    top:0px;
}
.right{display:inline-block;
    
    position:absolute;
    right:34px;
    top: 20px; 
}
.navbar{
    display: inline-block;

}
.navbar li{ 
    display: inline-block;
    font-size:15px;
}
.navbar li a{color:white;
text-decoration: none;
padding:34px 23px;}
.btn{
    margin:0px 9px;
    color:white;
    background-color:rgb(167, 165, 165);
    padding:4px 14px;
    border:2px solid rgb(167, 165, 165);
    border-radius:10px;
    font-size: 15px;
}
.container{
    
    margin:2px 2px;
    padding:75px;
    width:33%;
    border-radius:28px;

}
.form.group.input{
    font-size:25px;
    text-align: center;
    display: block ;
    width:34px;
    padding:1px;
    border:2px solid black;
    margin:3px auto;
    border-radius:8px;      
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container.h1{
    text-align:center;
}
.container button{
    display:block;
    width: 23%;
    margin:auto;
}